html, body, #root { 
  height:100%; 
  width:100%; 
  margin:0;
  background-color: #D3D3D3; 
  display: flex;
  justify-content: center;
  align-items: start;
}
.appContainer{
  border-radius: 6px;
  border: 2px solid rgb(189, 186, 186);
  margin-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 20px;
  width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainContainer{

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  
}

.contentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.titlesContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  color: RGB(160, 125, 241);
}

.subTitle{
  color: black;
}

.titleIcon{
  width: 50px;
}
.addIcon{
  background-color: whitesmoke;
}
.addIconImage{
  width: 34px;
}

.subContentContainer{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.inputBox{
  padding: 10px 10px;
  width: 280px;
  background-color: whitesmoke;
  border-radius: 6px;
  border: 1px solid rgb(180, 174, 174);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
}


.dropdowns{
  background-color: whitesmoke;
  color: gray;
  border: 1px solid rgb(180, 174, 174);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 10px 10px;
  width: 100px;
}

.addButton{
  background: linear-gradient(#3b82f6, #8b5cf6);
  font-size: 20px;
  padding: 5px 12px;
  font-weight: 800;
}

.tasksContainer{
  border: 1px solid rgb(216, 210, 210);
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  width: 100%;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.formatOptionLabel{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.priorityIcons{
  width: 24px;
}

.defaultDisplayIcon{
  width: 34px;
}

.defaultDisplay{
  color: gray;
  font-size: 16px;
  font-weight: 600;
}

.defaultDisplayContainer{
  display: flex;
  align-items: center;
  gap: 10px;
}

.defaultDisplayText{
  color: gray;
  font-size: 14px;
}

.tasksBox{
  
  color: black;
  width: 100%;
  margin-top: 20px;
  padding: 14px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tasksBox2{
  border: 1px solid rgb(216, 210, 210);
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.singleTaskBox{
  padding: 20px 20px;
}

.displayPriority{
display: flex;
align-items: center;
gap: 6px;
}

.taskLabels{
  font-weight: 600;
  color: rgb(61, 61, 61);
  font-size: 16px;
}

.taskName{
  font-size: 14px;
  color: rgb(90, 90, 90);
}

.deleteButton{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px 0px;
}

.deleteButton:hover{
  transform: scale(1.2);
  transition: transform 0.2s;
}